body {
  background-image: url(https://media.giphy.com/media/cmOG2ZP7YeSPNgqVJX/giphy.gif);
}

.container {
  width: 750px;
  height: 530px;
  opacity: 90%;
  background-color:peachpuff ;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
}

.form-text {
  text-align: center;
  margin: 25px 25px;
  font-size: 40px;
  
}

.form-div {
  display: flex;
  justify-content: center;
}

.form-group-inline {
  display: flex;
  justify-content: space-evenly;
}

.form {
  width: 100%;
}

.form-group-inline .inline-container {
  display: inline-block;
}

.form-group-inline .inline-container label {
  display: block;
  margin-bottom: 3px;
}

.form-group-inline .inline-container input {
  padding: 5px 4px;
  width: 250px;
  border-radius: 8px;
}

.form-group-block {
  margin-left: 82px;
  margin-top: 20px;
  
}

.block-container label {
  display: block;
  margin-bottom: 3px;
  margin-top: 20px;
  
}

.form-group-block .block-container input {
  padding: 5px 5px;
  width: 89%;
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  
}

.button-container button {
  padding: 10px 10px;
  border: none;
  background-color:red;
  color: white;
  font-size: 25px;
  border-radius: 8px;
  margin-top: 10px;
  cursor:pointer;
}

.button-container button:disabled {
  background-color: grey;
}

.errorMessage {
  font-size: 16px;
  color: red;
}
